.landing {
  text-align: center;

  .hidden-elem {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
  }

  .moving-elem {
    position: relative;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }

  .landing-muted {
    max-width: 360px;
    /* 15 Body */

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 147% */

    text-align: center;

    /* Primary/Dark Grey */

    color: #939BA1;
  }

  .landing-connenct {
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 0px 0px 16px;

    width: 140px;
    height: 44px;

    /* Primary/Light Accent Blue */

    background: #ECEFFC;
    border-radius: 8px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 0px 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */

    text-align: center;

    /* Primary/Accent Blue */

    color: #4360DF;
  }
}
