
.dashborad-new-sticker-pack {
  width: 241px;
  height: 160px;

  .dashborad-new-sticker-pack-border {
    position: relative;
    background: #ECEFFC;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    transition: 0.1s;

    .dashborad-new-sticker-pack-container {
      background: #FFFFFF;
      border: 1px dashed #C2CCF4;
      border-radius: 16px;
      position: absolute;
      left: 8px;
      right: 8px;
      top: 8px;
      bottom: 8px;
      text-align: center;
      line-height: 140px;
      text-align: center;


      .dashborad-new-sticker-pack-content {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;

        p {
          color: #4360DF;
        }
      }
    }
  }

  .dashborad-new-sticker-pack-border:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
}

