.new-sticker-pack-page-container {
  padding: 60px 0px;
  max-width: 764px;
  margin: auto;

  .new-sticker-pack-section {
    /* Primary/White */

    background: #FFFFFF;
    /* Primary/Light Grey */

    border: 1px solid #EEF2F5;
    box-sizing: border-box;
    border-radius: 8px;

    padding: 24px 24px 40px 24px;
    margin: 16px 0px;

    .new-sticker-pack-section-header h3 img {
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}
