body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Inter, sans-serif;
}

#form > * {
  margin: 10px;
}

.app {
  width: 100%;
  height: 100%;
  float: left;
}

.header {
  /* Primary/White */
  height: 54px;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px #EEF2F5;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.header-new-sticker {
  grid-column: 1 / 3;
  grid-row: 1;
  max-height: 54px;
  text-align: left;
  padding: 4px 20px;
}

.header-logo {
  grid-column: 2 / 3;
  grid-row: 1;
  max-height: 54px;
  text-align: center;
}

.header-logo img {
  max-height: 50px;
  padding: 2px;
}

.header-account {
  grid-column: 3 / 3;
  grid-row: 1;
  max-height: 54px;
  text-align: right;
  padding: 4px 20px;
}


.landing {
  text-align: center;
}

.landing-header {
  /* 22 Headline Bold */

  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height, or 136% */

  letter-spacing: -0.2px;

  /* Primary/Black */

  color: #000000;
}

.landing-muted {
  max-width: 360px;
  /* 15 Body */

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* or 147% */

  text-align: center;

  /* Primary/Dark Grey */

  color: #939BA1;
}

.landing-tandp {
  position: absolute;
  left: 24px;
  bottom: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #939BA1;
}

.landing-connenct {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 11px 0px 0px 16px;

  width: 140px;
  height: 44px;

  /* Primary/Light Accent Blue */

  background: #ECEFFC;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 147% */

  text-align: center;

  /* Primary/Accent Blue */

  color: #4360DF;
}
