body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Inter, sans-serif;
}

#form > * {
  margin: 10px;
}

h2 {
  /* 22 Headline Bold */

  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height, or 136% */

  letter-spacing: -0.2px;

  /* Primary/Black */

  color: #000000;
}

h3 {
  /* Main 15px (Medium) */

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */


  color: #000000;
}

.t_and_p {
  /* https://stackoverflow.com/questions/2571573/css-footer-position-stick-to-bottom-of-browser */
  left: 24px;
  bottom: 0px;
  bottom:0;
  position:fixed;
  z-index:150;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
      (document.documentElement.clientHeight-this.offsetHeight)));

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #939BA1;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #EEF2F5;
    margin: 1em 0; padding: 0; }
